.wrapper {
    margin: 0 auto;
    max-width: 1150px;
}

body {
    background-color: $my-background;
    font-family: $my-font;
}

.mybutton {
    background-color: $button-color;
    border: 1px solid darken($button-color, 80%);
    color: $font-color;
    font-family: $my-font;
    border-radius: 3px;
    padding: 10px;
    &:hover {
        background-color: $brand-color2;
        border: 1px solid darken($brand-color2, 20%);
        color: $link-color;
        text-decoration: none;
    }
}

/*---------nav-----------*/

.navbar {
    font-family: $my-font;
    background-color: rgb(255, 255, 255);
    .nav-link {
        color: $link-color;
        &:hover {
            border-radius: 3px;
            color: $brand-color2 !important;
            cursor: pointer;
        }
    }
}

/* --------header---------*/

.header {
    position: relative;
    width: 100vw;
    height: 500px;
    .left {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        z-index: 5;
        padding: 1rem;
    }
}

#header3 {
    background: linear-gradient( to left, rgba(255, 255, 255, 0.253), rgba(0, 0, 0, 0.883)), url('../../web/images/game.png') no-repeat left top;
    background-size: cover;
    background-position: center;
    z-index: 0;
    font-family: $my-font;
    h2.title {
        font-weight: 800;
        font-size: 2.5em;
    }
    .caption {
        z-index: 5;
        text-align: center;
        color: #fff;
        .title,
        .text {
            margin-bottom: 1.5rem;
        }
        .action {
            margin-bottom: 1rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
}

// gameplay on index
.zombie-mobile {
    display: block;
    img {
        width: 100%;
    }
}

.whitebg {
    img {
        width: 100%;
    }
}

.zombie-desktop {
    display: none;
}

.gameplay-text {
    margin-left: 20px;
    h2 {
        padding-top: 0em;
    }
}

.zombie-mobile {
    background-color: $brand-color2;
    color: $brand-color;
}

.wrapit {
    margin: 0 auto;
    max-width: 600px;
    padding-left: 15%;
}

//contact site
form {
    input[type=text],
    [type=email],
    [type=number],
    [type=textbox],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border-radius: 0px;
        display: inline-block;
        border: none;
        border-bottom: 1px solid $brand-color2;
        box-sizing: border-box;
        margin: 0px;
    }
    button[type=submit] {
        width: 40%;
        background-color: $brand-color2;
        color: $brand-color;
        padding: 14px 20px;
        margin: 8px 0;
        border: 1px solid $brand-color2;
        border-radius: 0px;
        cursor: pointer;
    }
    button[type=submit]:hover {
        background-color: $brand-color;
        color: $brand-color2;
    }
}

//footer
footer {
    text-align: center;
    background-color: $footer;
    padding: 30px;
    @include my-icons;
    p {
        color: $text-color;
        font-family: $my-font;
    }
    .fa-facebook {
        color: white;
    }
    .fa-twitter {
        color: white;
    }
    .fa-google {
        color: white;
    }
    .fa-linkedin {
        color: white;
    }
    .fa-youtube {
        color: white;
    }
    .fa-instagram {
        color: white;
    }
}

/*=== store devices (desktops, 992px og op efter...) ===*/

@media (min-width: 560px) {
    .header .center {
        width: 50%;
    }
    .header {
        .left {
            position: absolute;
            top: 20%;
            left: 10%;
            width: 40%;
            height: 60%;
            transform: translate(0, 0);
            padding: 1rem;
        }
        /* .right {
            position: absolute;
            top: 20%;
            left: 50%;
            width: 40%;
            height: 60%;
            transform: translate(0, 0);
            padding: 1rem;
        }*/
    }
    #header3 {
        .right {
            display: block;
        }
        .caption {
            text-align: left;
        }
    }
    .navbar {
        .navbar-brand {
            padding-left: 10%;
        }
    }
    .navbar-expand-md .navbar-collapse {
        padding-right: 10%;
    } //index
    .zombie-mobile {
        display: none;
    }
    .zombie-desktop {
        display: block;
        background-color: $brand-color2;
        color: $brand-color;
        padding: 3em;
        img {
            width: 400px;
        }
    }
    .whitebg {
        margin: 3em;
        img {
            width: 400px;
        }
    }
    .wrapit {
        margin: 0 auto;
        max-width: 1300px;
        padding-left: 15%;
    }
    .gameplay-text {
        margin-left: 0px;
        h2 {
            padding-top: 3em;
        }
    } //contact
    .contact .row {
        margin: 4em 0em 4em 0em;
    }
    .contact-info {
        display: block;
        background-color: $brand-color2;
        color: $brand-color;
        padding: 7em;
    }
}