//identity
$brand-color: rgb(255, 255, 255);
$footer: rgb(46, 45, 45);
$font-color: black;
//buttons
$brand-color2: #60aa64;
// Font Variables
$my-font: 'Raleway',
sans-serif;
$thin-font: 200;
$thick-font: 400;
$bold-font: 700;