@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;800;900&display=swap");
.wrapper {
  margin: 0 auto;
  max-width: 1150px; }

body {
  background-color: white;
  font-family: "Raleway", sans-serif; }

.mybutton {
  background-color: white;
  border: 1px solid #333333;
  color: black;
  font-family: "Raleway", sans-serif;
  border-radius: 3px;
  padding: 10px; }
  .mybutton:hover {
    background-color: #c0bfbf;
    border: 1px solid #8d8c8c;
    color: white;
    text-decoration: none; }

/*---------nav-----------*/
.navbar {
  font-family: "Raleway", sans-serif;
  background-color: white; }
  .navbar .nav-link {
    color: white; }
    .navbar .nav-link:hover {
      border-radius: 3px;
      color: #c0bfbf !important;
      cursor: pointer; }

/* --------header---------*/
.header {
  position: relative;
  width: 100vw;
  height: 500px; }
  .header .left {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 1rem; }

#header3 {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(0, 0, 0, 0.883)), url("../../web/images/game.png") no-repeat left top;
  background-size: cover;
  background-position: center;
  z-index: 0;
  font-family: "Raleway", sans-serif; }
  #header3 h2.title {
    font-weight: 800;
    font-size: 2.5em; }
  #header3 .caption {
    z-index: 5;
    text-align: center;
    color: #fff; }
    #header3 .caption .title,
    #header3 .caption .text {
      margin-bottom: 1.5rem; }
    #header3 .caption .action {
      margin-bottom: 1rem;
      padding-left: 3rem;
      padding-right: 3rem; }

.zombie-mobile {
  display: block; }
  .zombie-mobile img {
    width: 100%; }

.whitebg img {
  width: 100%; }

.zombie-desktop {
  display: none; }

.gameplay-text {
  margin-left: 20px; }
  .gameplay-text h2 {
    padding-top: 0em; }

.zombie-mobile {
  background-color: #c0bfbf;
  color: white; }

.wrapit {
  margin: 0 auto;
  max-width: 600px;
  padding-left: 15%; }

form input[type=text],
form [type=email],
form [type=number],
form [type=textbox],
form select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 0px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #c0bfbf;
  box-sizing: border-box;
  margin: 0px; }
form button[type=submit] {
  width: 40%;
  background-color: #c0bfbf;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #c0bfbf;
  border-radius: 0px;
  cursor: pointer; }
form button[type=submit]:hover {
  background-color: white;
  color: #c0bfbf; }

footer {
  text-align: center;
  background-color: #2e2d2d;
  padding: 30px; }
  footer .fa {
    padding: 20px;
    font-size: 1.2em;
    border-radius: 3px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px; }
    footer .fa:hover {
      opacity: 0.7;
      text-decoration: none;
      cursor: pointer;
      color: white; }
  footer p {
    color: white;
    font-family: "Raleway", sans-serif; }
  footer .fa-facebook {
    color: white; }
  footer .fa-twitter {
    color: white; }
  footer .fa-google {
    color: white; }
  footer .fa-linkedin {
    color: white; }
  footer .fa-youtube {
    color: white; }
  footer .fa-instagram {
    color: white; }

/*=== store devices (desktops, 992px og op efter...) ===*/
@media (min-width: 560px) {
  .header .center {
    width: 50%; }

  .header {
    /* .right {
        position: absolute;
        top: 20%;
        left: 50%;
        width: 40%;
        height: 60%;
        transform: translate(0, 0);
        padding: 1rem;
    }*/ }
    .header .left {
      position: absolute;
      top: 20%;
      left: 10%;
      width: 40%;
      height: 60%;
      transform: translate(0, 0);
      padding: 1rem; }

  #header3 .right {
    display: block; }
  #header3 .caption {
    text-align: left; }

  .navbar .navbar-brand {
    padding-left: 10%; }

  .navbar-expand-md .navbar-collapse {
    padding-right: 10%; }

  .zombie-mobile {
    display: none; }

  .zombie-desktop {
    display: block;
    background-color: #c0bfbf;
    color: white;
    padding: 3em; }
    .zombie-desktop img {
      width: 400px; }

  .whitebg {
    margin: 3em; }
    .whitebg img {
      width: 400px; }

  .wrapit {
    margin: 0 auto;
    max-width: 1300px;
    padding-left: 15%; }

  .gameplay-text {
    margin-left: 0px; }
    .gameplay-text h2 {
      padding-top: 3em; }

  .contact .row {
    margin: 4em 0em 4em 0em; }

  .contact-info {
    display: block;
    background-color: #c0bfbf;
    color: white;
    padding: 7em; } }

/*# sourceMappingURL=style.css.map */
